@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body {
  background-image: url('https://cdn.cbeditz.com/cbeditz/preview/4k-black-texture-background-wallpapers-23-11614421023a9ljt8wkk2.jpg');
 background-size: cover;
 font-family: 'Poppins', sans-serif;
} 
