@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body {
  background-image: url('https://cdn.cbeditz.com/cbeditz/preview/4k-black-texture-background-wallpapers-23-11614421023a9ljt8wkk2.jpg');
 background-size: cover;
 font-family: 'Poppins', sans-serif;
} 
/* Customize the scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px; /* Adjust width as needed */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #48484871; /* Background color of the track */
  border-radius: 6px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #45454584; /* Scrollbar thumb color */
  border-radius: 6px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #090909; /* Scrollbar thumb hover color */
}

